<!DOCTYPE html>
<head>
    {% include "user/include/links.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='user/create.css') }}">
    <title>Написать пост</title>
</head>
<body>
    <h1 class="logo">RAC: Russian Anonymous Chat</h1>
    <div class="container">
        <div class="menu">
            {% include "user/include/menu.html" %}
        </div>
        <div class="form-wrapper"> 
            <form class="post-form" action="/create" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-field">  <!-- Оборачиваем label и input в div -->
                    <label class="form-label" for="{{ form.title.id }}">{{ form.title.label }}</label>
                    {{ form.title(class_="form-input", size=30, placeholder="Введите заголовок") }}
                </div>
                <br>
                <div class="form-field">  <!-- Оборачиваем label и textarea в div -->
                    <label class="form-label" for="{{ form.text.id }}">{{ form.text.label }}</label>
                    {{ form.text(class_="form-textarea", rows=10, cols=50, placeholder="Введите название статьи") }}
                </div>
                <br>
                {{ form.select_option.label }}
                {{ form.select_option() }}

                {{ form.submit(class_="form-submit") }}
            </form>
        </div> 
    </div>
</body>
</html>