<!DOCTYPE html>
<html lang="en">
<head>
    {% include "user/include/links.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='user/index.css') }}">
    <title>RAC Forum</title>
</head>
<body>
    <h1 class="logo">RAC: Russian Anonymous Chat</h1>
    <div class="container">
        <div class="menu">
            {% include "user/include/menu.html" %}
        </div>
        <h2 class="title">Форумные разделы</h2>
        {% for category in topics %}
        <div class="forum-section">
            <h3><a href="forum/{{ category.id }}">Раздел {{ category.id }}: {{ category.name }}</a></h3>
            <p>{{ category.description }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>