body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

p {
    font-family: "Montserrat", sans-serif;

}

.menu ul li {
    display: inline;
    margin-right: 10px;
}


.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.menu ul li a:hover {
    background-color: #ccc;
}


.menu {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid #ccc; /* Добавляем рамку */
}


.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.logo {
    text-align: center;
    font-family: "UnifrakturCook";
    font-weight: 1000;
    font-style: normal;
}

.form-wrapper {  /* Добавляем стили для wrapper */
    padding: 35px;
    border-radius: 10px;
    margin-bottom: 10px; /* Добавляем отступ снизу */
}


.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.form-textarea {
    width: 100%;
    height: 480px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}