.form-wrapper {  /* Добавляем стили для wrapper */
    padding: 35px;
    border-radius: 10px;
    margin-bottom: 10px; /* Добавляем отступ снизу */
    border: 1px solid #ccc;
}

.form-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.form-input-ls {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 250px;

}

.form-textarea {
    width: 100%;
    height: 480px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: "Montserrat";
}

li {
    color: blue;
}


