<!DOCTYPE html>
<head>
    {% include "user/include/links.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='user/etc/create.css') }}">
    <title>Написать пост</title>
</head>
<body>
    <h1 class="logo">RAC: Russian Anonymous Chat</h1>
    <div class="container">
        <div class="menu">
            {% include "user/include/menu.html" %}
        </div>
        <br>
        <h2 style="font-family: Montserrat;">Написать пост</h2>
        <form class="post-form" action="/create" method="POST">
            {{ form.hidden_tag() }}
            <label class="form-label" for="{{ form.title.id }}">{{ form.title.label }}</label>
            {{ form.title(class_="form-input", size=30) }}
            <br>
            <br>
            <label class="form-label" for="{{ form.text.id }}">{{ form.text.label }}</label>
            {{ form.text(class_="form-textarea", rows=10, cols=50) }}
            <br>
            <br>
            <button type="button" onclick="insertImage()" class="post-form-button">Вставить изображение</button>
            <button type="button" onclick="bText()" class="post-form-button">Жирный текст</button>
            <button type="button" onclick="iText()" class="post-form-button">Курсив</button>
            <button type="button" onclick="pText()" class="post-form-button">Подчеркнутый</button>
            <button type="button" onclick="dText()" class="post-form-button">Зачеркнутый</button>
            <br>
            <br>
            {{ form.submit(class_="form-submit") }}
        </form>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
</body>
</html>