<link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="{{ url_for('static', filename='user/auth.css') }}">
<title>RAC</title>
<h1 class="logo">RAC: Russian Anonymous Chat</h1>
<style>
    .logo {
        text-align: center;
        font-family: "UnifrakturCook";
        font-weight: 1000;
        font-style: normal;
    }
</style>
<hr width="50%" size="5" color="black" align="center">
<br>
<h1 style="text-align: center; margin-top:60px;">Авторизация</h1>
<form method="POST" action="/login" style="text-align: center;">
    {{ form.csrf_token }}
    <p>
        {{ form.login.label }}<br>
        {{ form.login(class_="form-input", size=32) }}<br>
        {% if form.login.errors %}
        <ul class="errors">
        {% for error in form.login.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class_="form-input", size=32) }}<br>
        {% if form.password.errors %}
        <ul class="errors">
        {% for error in form.password.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </p>
    <div class="my-recaptcha" style="text-align: center; display: flex; justify-content: center; align-items: center;">
        {{ form.recaptcha }}
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <p>{{ form.submit() }}</p>
</form>
<p style="text-align:center;">Нет аккаунта?<a href="{{ url_for("register") }}" style> Регистрация</a></p>