<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='user/auth.css') }}">
    <title>RAC</title>
</head>
<body>
    <h1 class="logo">   Russian Anonymous Chat</h1>
    <br>
    <h2 class="auth-title">Регистрация</h2>
    <form method="POST" action="/register" class="auth-form">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.login.label }}<br>
            {{ form.login(class_="form-input", size=32) }}<br>
            {% if form.login.errors %}
            <ul class="errors">
                {% for error in form.login.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(class_="form-input", size=32) }}<br>
            {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password_repeat.label }}<br>
            {{ form.password_repeat(class_="form-input", size=32) }}<br>
            {% if form.password_repeat.errors %}
            <ul class="errors">
                {% for error in form.password_repeat.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {{ form.recaptcha }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p class="error-message">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <p>{{ form.submit() }}</p>
    </form>
    <p class="auth-link">Есть аккаунт?<a href="{{ url_for("login") }}"> Войти</a></p>
</body>
</html>